<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xzy.dao.UserMapper">

  <select id="loginCheck" parameterType="com.xzy.pojo.User" resultType="com.xzy.pojo.User">
            select * from user where user_Password=#{user_Password} and user_Name=#{user_Name}

    </select>
  <insert id="register" parameterType="com.xzy.pojo.User">
        insert into user(user_Name,user_Email,user_Password,user_Tel)
        values(#{user_Name},#{user_Email},#{user_Password},#{user_Tel})
    </insert>

  <update id="updateuser_Password" parameterType="com.xzy.pojo.User">
        update user set user_Password = #{user_Password} where user_Tel = #{user_Tel}
    </update>

</mapper>